################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/VSWorkspaceState.json
/.vs/GreaterWMS WebSite/FileContentIndex/39f823e3-9d73-4f1e-b6c5-86a94a80178d.vsidx
/.vs/GreaterWMS WebSite/v17/.wsuo
/.vs/slnx.sqlite
/.gitignore
/.vs/GreaterWMS WebSite/FileContentIndex/3aea86bd-04d0-43e7-b798-b2bbaaa15596.vsidx
/.vs/GreaterWMS WebSite/FileContentIndex/8d4f6ddc-9a02-4f53-b426-69b14d501511.vsidx
/.vs/GreaterWMS WebSite/FileContentIndex/e7d21852-cc0e-4a30-b164-f035272a97f9.vsidx
/.vs/VSWorkspaceState.json
/.vs/GreaterWMS WebSite/FileContentIndex/f36b5b7d-a8b3-425a-a641-339e33638488.vsidx
/.vs/GreaterWMS WebSite/FileContentIndex/68d78193-d894-494e-9c40-8ea5437c642b.vsidx
